@import "../components/style.scss";

#app,
#index{ height: 100%; }
#index_box {
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    text-align: center;
    border:solid $gray_c 1px;
    box-shadow: 1px 1px 5px 1px $gray_9;
    background-color: $white;
    z-index: -1;
    animation: opening_index_box 3s ease 1s forwards;
    @include pc {
        width: 50%;
        top: 285px;
        padding: 50px;
    }
    @include tablet {
        width: 70%;
        top: 350px;
        padding: 70px 60px;
    }
    @include ipad {
        top: 10px;   
    }
    @include sp {
        width: 80%;
        top: 25%;
        padding: 20px 10px;
    }
    .index_h1{
        text-decoration: none;
        color: $textcolor;
        font-weight: 300;
        @include pc {
            letter-spacing: 0.3em;
            font-size: 46px;
        }
        @include tablet {
            letter-spacing: 0.3em;
            font-size: 49px;
        }
        @include sp {
            letter-spacing: 0.3em;
            font-size: 24px;
        }
    }
    #index_ul{
        @include pc {
            margin-top: 50px;
            padding: 0;
        }
        @include tablet {
            transform: translate(-10px);
            width: 100%;
            margin-top: 50px;
            padding: 0;
        }
        @include sp {
            transform: translate(10px);
            margin-top: 30px;
        }
        @include se {
            transform: translate(-10px);
        }
        .index_li{
            display: inline;
            @include pc {
                margin: 20px;
            }
            @include tablet {
                margin: 22px;
            }
            @include sp {
                margin: 0;
            }
            .index_a{
                text-decoration: none;
                border-radius: 5px;
                border: solid $black 0px;
                transition: all 0.5s ease-in-out;
                color: $textcolor;
                @include pc {
                    padding: 5px 20px;
                }
                @include tablet {
                    margin: 0;
                    padding: 0;
                }
                @include sp {
                    margin: 0 20px;
                    padding: 0;
                }
                &:hover{
                    box-shadow: 1px 1px 5px 1px #999;
                    color: #eee;
                    background-color: #666;
                }
                .index_span{
                    @include pc {
                        display: inline;
                    }
                    @include tablet {
                        display: inline;
                        font-size: 30px;
                    }
                    @include sp {
                        display: none;
                    }
                }
                .index_icon{
                    @include pc {
                        display: none;
                    }
                    @include tablet {
                        display: none;
                    }
                    @include sp {
                        display: inline;
                        font-size: 36px;
                    }
                }
            }
        }
    }
}

@keyframes opening_index_box{
    0%{
        z-index: -1;
    }
    99%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }
}
