@import "../components/style.scss";

// opening用のheight
html,
body,
#app,
#index{ height: 100%; }

// 名刺風
#index_box {
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    text-align: center;
    border:solid $border-color 1px;
    box-shadow: 1px 1px 5px 1px $box-shadow-color;
    background-color: $box-backgroundcolor;
    z-index: -1;
    animation: opening_index_box 3s ease 1s forwards;
    @include pc {
        width: 70%;
        top: 285px;
        padding: 50px;
    }
    @include sp {
        width: 85%;
        top: 25%;
        padding: 20px 10px;
    }

    // 三戸尚樹
    .index_h1{
        font-weight: 300;
        letter-spacing: 0.3em;
        @include pc { font-size: 40px; }
        @include sp { font-size: 24px; }
    }
    
    // 横並びリスト
    #index_ul{
        font-size: 0;
        text-align: center;
        @include pc { margin-top: 50px; }
        @include sp { margin-top: 30px }
        .index_li{
            display: inline;
            padding: 15px 1px;
            font-size: 14px;
            @include pc { margin: 0 15px; }
            @include sp { margin: 0; }
            .index_a{
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
                @include pc { padding: 5px 10px; }
                @include sp {
                    margin: 0 20px;
                    padding: 0;
                }
                &:hover{
                    box-shadow: 1px 1px 5px 1px $box-shadow-color;
                    background-color: $hover-backgroundcolor;
                }
                &:hover .index_span{ color: $white; }

                // pc: テキスト表示　　アイコン非表示
                // sp: テキスト非表示　アイコン表示
                .index_span{
                    transition: all 0.5s ease-in-out;
                    @include pc {
                        display: inline;
                        font-size: 20px;
                    }
                    @include sp { display: none; }
                }
                .index_icon{
                    transition: all 0.5s ease-in-out;
                    @include pc { display: none; }
                    @include sp {
                        display: inline;
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

/**
 * keyframes
 */
@keyframes opening_index_box{
    0%{ z-index: -1; }
    99%{ z-index: -1; }
    100%{ z-index: 1; }
}
