#index_box {
    position: relative;
    width: 50%;
    margin: auto;
    padding: 50px;
    text-align: center;
    top: 285px;
    border:solid #ccc 1px;
    background-color: #fff;
    z-index: 1000;

    .index_h1{
        letter-spacing: 30px;
        text-decoration: none;
        font-size: 98px;
        color: #707070;
    }

    #index_ul{
        margin-top: 50px;
        padding: 0;
    }

    .index_li{
        display: inline;
        margin: 20px;
    }

    .index_a{
        padding: 5px 20px;
        text-decoration: none;
        border-radius: 5px;
        border: solid #000 0px;
        transition: all 0.5s ease-in-out;
        color: #707070;
        &:hover{
            color: #eee;
            background-color: #666;
        }
    }
}
