@import "../components/style.scss";

#box_sns{
    @include pc { margin-top: 200px; }
    @include sp { margin-top: 100px; }
    #sns_ul{
        font-size: 0;
        text-align: center;
        .sns_li_icon{
            display: inline-block;
            width: 96px;
            padding: 15px 10px;
            font-size: 14px;
            border:solid $box-shadow-color 1px;
            border-radius: 5px;
            box-shadow: 1px 1px 5px 1px $box-shadow-color;
            list-style: none;
            transition: all 1s ease 0s;
            @include pc { margin: 50px; }
            @include sp { margin: 25px; }

            // hover時に回転
            &:hover{
                background-color: $hover-backgroundcolor;
                opacity: 0.5;
            }
            &:hover .fab{
                color: $hover-color;
            }
            &:nth-child(1){
                &:hover{ transform: rotateZ(-360deg); }
                &:hover .fab{ transform: rotateZ(-360deg); }
            }
            &:nth-child(2){
                &:hover{ transform: rotateZ(360deg); }
                &:hover .fab{ transform: rotateZ(360deg); }
            }
            &:nth-child(3){
                &:hover{ transform: rotateX(360deg); }
                &:hover .fab{ transform: rotateX(360deg); }
            }
            &:nth-child(4){
                &:hover{ transform: rotateY(360deg); }
                &:hover .fab{ transform: rotateY(360deg); }
            }

            .sns_a{
                .fab{ transition: all 1s ease 0s; }
            }
        }
    }
}
