@import "../components/colorcomponent.scss";
@import "../components/mediaquery.scss";

#box_sns{
    position: relative;
    margin: auto;
    @include pc {
        margin-top: 250px;
    }
    @include tablet {
    }
    @include sp {
        margin-top: 100px;
    }
    #sns_ul{
        @include pc {
            margin-left: 390px;
        }
        @include tablet {
            margin-left: 70px;
        }
        @include sp {
            margin: 0;
        }
        .sns_li_icon{
            float: left;
            list-style: none;
            transition: all 1s ease 0s;
            @include pc {
                margin: 50px;
            }
            @include tablet {
            }
            @include ipad {
                margin: 20px;
            }
            @include sp {
                margin: 25px;
            }
            @include se {
                margin: 10px;
            }
            &:nth-child(1){
                &:hover{
                    opacity: 0.5;
                    transform: rotateZ(-360deg);
                }
                &:hover .fab{ transform: rotateZ(-360deg); }
            }
            &:nth-child(2){
                &:hover{
                    opacity: 0.5;
                    transform: rotateZ(360deg);
                }
                &:hover .fab{ transform: rotateZ(360deg); }
            }
            &:nth-child(3){
                &:hover{
                    opacity: 0.5;
                    transform: rotateX(360deg);
                }
                &:hover .fab{ transform: rotateX(360deg); }
            }
            &:nth-child(4){
                &:hover{
                    opacity: 0.5;
                    transform: rotateY(360deg);
                }
                &:hover .fab{ transform: rotateY(360deg); }
            }
            &:hover .sns_a{
                color: $white;
                background-color: $textcolor;
            }
            .sns_a{
                display: block;
                width: 4em;
                padding: 15px 20px;
                border:solid #999 1px;
                border-radius: 5px;
                color: $textcolor;
                text-align: center;
                box-shadow: 1px 1px 5px 1px #999;
                .fab{
                    transition: all 1s ease 0s;
                }
            }
        }
    }
}
