@import "../components/style.scss";

#works{
    overflow: hidden;
    .works_hr{
        z-index: -1;
        width: 2000px;
        margin-top: 10px;
        animation: rotatehr 10s ease 0s;
        animation-iteration-count: infinite;
    }
    #box_works{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include pc {
        }
        @include sp {
            margin-top: 10px;
        }
        .box_work{
            position: relative;
            border-bottom:solid $border-color 1px;
            box-shadow: 1px 1px 5px 1px $box-shadow-color;
            background-color: $box-backgroundcolor;
            @include pc {
                width: $contentwidth/5; height: 500px;
                margin: 50px;
            }
            @include sp {
                width: $contentwidth/8; height: 55vh;
                margin: 0;
            }
            &:hover .box_work_img{
                animation: rotateimg 0.5s ease 0s;
                animation-iteration-count: infinite;
            }
            #box_work_calunit_img{
                padding: 24.5px 30px;
                background-color: #5C8DF0;
            }
            .box_work_img{ box-shadow: 1px 1px 5px 1px $box-shadow-color; }
            .box_work_description{
                position: absolute;
                right: 0;
                height: 300px;
                writing-mode: vertical-rl;
                @include pc {
                    top: 190px;
                    line-height: $contentwidth/15;
                }
                @include sp {
                    top: 130px;
                    height: 30vh;
                    line-height: $contentwidth/32;
                }
            }
        }
    }
}

@keyframes rotatehr{
    0%{
        transform: translate(1000px, 0px) rotateZ(0deg) scaleX(3);
    }
    25%{
        transform: translate(-500px, -20px) rotateZ(360deg) scaleX(3);
    }
    50%{
        transform: translate(-1000px, -500px) rotateZ(720deg) scaleX(3);
    }
    75%{
        transform: translate(-500px, -250px) rotateZ(360deg) scaleX(3);
    }
    100%{
        transform: translate(1000px, 500px) rotateZ(0deg) scaleX(3);
    }
}

@keyframes rotateimg{
    0%{
        transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}
