@import "../components/style.scss";

$margin-top-sp: 50px;

// body{
//     background-image: url('https://waonngionn.github.io/portfolio/static/aboutbackground.JPG');
//     background-size: contain;
// }

// background-image用のheight
#header{
    opacity: 0.8;
}

#about{
    width: 100%; height: 100%;
    @include sp { height: 200%; }
    #box_about{
        position: relative;
        margin: auto;
        opacity: 0.8;
        @include pc {
            width: 70%; height: 50vh;
            margin-top: 130px;
        }
        @include sp {
            width: 80%;
            margin-top: 120px;
        }
        .box_contents{
            background-color: $box-backgroundcolor;
            box-shadow: 1px 1px 5px 1px #999;
            letter-spacing: 0.1em;
            padding: 20px;
            &:nth-child(1){
                @include pc {
                    position: absolute;
                    top: 0; left: 0;
                    width: 45%; height: 200px;
                }
                @include sp { width: 100%; height: auto; }
            }
            &:nth-child(2){
                @include pc {
                    position: absolute;
                    top: 0; right: 0;
                    width: 45%; height: 200px;
                }
                @include sp {
                    width: 100%; height: 200px;
                    margin-top: $margin-top-sp;
                }
            }
            &:nth-child(3){
                @include pc {
                    position: absolute;
                    bottom: 0; left: 0;
                    width: 100%; height: 200px;
                }
                @include sp {
                    width: 100%; height: auto;
                    margin-top: $margin-top-sp;
                    margin-bottom: 100px;
                }
            }
            
            .box_conetnt_description{
                line-height: 1.7em;
                @include pc { font-size: 12px; }
                @include sp { margin-top: 15px; }
            }
            // about
            #about_description,
            #about_skill_description{
                @include pc {
                    margin: 15px 0 0 20px;
                }
                @include sp {
                }
            }
            // sns
            .about_sns_ul{
                font-size: 0;
                text-align: center;
                .about_sns_li_icon{
                    display: inline-block;
                    font-size: 14px;
                    padding: 5px 7px;
                    border:solid #999 1px;
                    border-radius: 5px;
                    list-style: none;
                    transition: all 1s ease 0s;
                    box-shadow: 1px 1px 5px 1px #999;
                    @include pc {
                        margin: 20px 10px;
                    }
                    @include sp {
                        width: 45px;
                        margin: 10px 10px 0 10px;
                    }
                    &:hover{
                        background-color: $black;
                        opacity: 0.5;
                        transform: rotateZ(360deg);
                    }
                    &:hover .about_sns_a{ color: $white; }
                }
            }
            // skill
            .about_skill_ul{
                padding-left: 10px;
                @include pc { float: left; }
                @include sp { float: none; }
                .about_skill_li{ list-style: none; }
                .about_skill_others_ul{
                    margin-left: 10px;
                    .about_skill_others_li{ list-style: none; }
                }
            }
        }
    }
}