@import "../../components/style.scss";

$text-position-pc: 40%;
$text-position-sp: 30%;
$end-text-position: -100px;

#opening{
    width: 100%; height: 100%;
    text-align: center;
    background-color: $black;
    z-index: 1000;
    animation: opening 3s ease 1s forwards;
    #opeing_h1{
        position: relative;
        letter-spacing: 0.1em;
        color: $white;
        z-index: 1000;
        @include pc {
            top: $text-position-pc;
            font-size: 44px;
            animation: opening_text_pc 3s ease 1s forwards;
        }
        @include sp {
            top: $text-position-sp;
            font-size: 24px;
            animation: opening_text_sp 3s ease 1s forwards;
        }
    }
}

/**
 * keyframes
 **/
@keyframes opening {
    0%{ height: 100%; }
    100%{ height: 0; }
}
@keyframes opening_text_pc {
    0%{ top: $text-position-pc; }
    100%{ top: $end-text-position; }
}
@keyframes opening_text_sp {
    from{ top: $text-position-sp; }
    to{ top: $end-text-position; }
}
