$pc: 8000px;
$tablet: 1000px;
$ipad: 800px;
$sp: 480px;
$se: 321px;

@mixin pc {
    @media screen and (max-width:$pc) {
      @content;
    }
}
@mixin tablet {
    @media screen and (max-width:$tablet) {
      @content;
    }
}
@mixin ipad {
  @media screen and (max-width:$ipad) {
    @content;
  }
}
@mixin sp {
    @media screen and (max-width:$sp) {
      @content;
    }
}
@mixin se {
  @media screen and (max-width:$se) {
    @content;
  }
}