$pc: 8000px;
$tablet: 1025px;
$sp: 480px;

@mixin pc {
    @media screen and (max-width:$pc) {
      @content;
    }
}
@mixin tablet {
    @media screen and (max-width:$tablet) {
      @content;
    }
}
@mixin sp {
    @media screen and (max-width:$sp) {
      @content;
    }
}