@import "../components/colorcomponent.scss";
@import "../components/mediaquery.scss";

#header{
    position: relative;
    top: 50px;
    width: 60%;
    margin: auto;
    padding: 30px 50px 40px 50px;
    text-align: center;
    background-color: $white;
    z-index: 1000;
    box-shadow: 1px 1px 5px 1px #999;
    .header_h1{
        padding: 5px 20px 7px 20px;
        text-decoration: none;
        border-radius: 5px;
        border: solid $white 0px;
        transition: all 0.5s ease-in-out;
        color: $textcolor;
        @include pc {
            letter-spacing: 0.3em;
            font-weight: 300;
        }
        @include tablet {
            font-size: 49px;
        }
        @include sp {
            font-size: 24px;
        }
        &:hover{
            box-shadow: 1px 1px 5px 1px #999;
            animation: animeHeader 2s linear 0s forwards;
        }
    }
    #header_ul{
        margin-top: 30px;
        padding: 0;
        .header_li{
            display: inline;
            margin: 20px;
            .header_a{
                padding: 5px 20px;
                text-decoration: none;
                border-radius: 5px;
                border: solid $white 0px;
                transition: all 0.5s ease-in-out;
                color: $textcolor;
                &:hover{
                    box-shadow: 1px 1px 5px 1px #999;
                    color: #eee;
                    background-color: #666;
                }
            }
        }
    }
}

@keyframes animeHeader{
    0%{
        border-top:solid 1px #666;
    }
    25%{
        border-top:solid 1px #666;
        border-right:solid 1px #666;
    }
    50%{
        border-top:solid 1px #666;
        border-right:solid 1px #666;
        border-bottom:solid 1px #666;
    }
    75%{
        border:solid 1px #666;
        color: $textcolor;
        background-color: $white;
    }
    100%{
        color: #eee;
        background-color: #666;
    }
}